#logo-div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -7%;

    h3, h6{
        text-align: center;
    }

    img{
        width: 300px;
    }

}
