<div id="logo-div">
	<ion-text color="medium">
		<p>{{title ? title : ''}}</p>
		<h3>Pocket Money</h3>
		<h6>Keep more money in your pocket!</h6>
		<img src="../../../assets/icon/logo-icon.png">
	</ion-text>
</div>