<ion-header [translucent]="true">
  	<ion-toolbar>
		
		<ion-title (click)="logout()">
			Home
		</ion-title>
		
  	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-item>
        <ion-label>Mês</ion-label>        
        <ion-datetime displayFormat="MM/YYYY" pickerformat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>            
    </ion-item>

	<dash-card
		valor = {{conta.pagar.valor}}
		tipo = "pagar"
		num = {{conta.pagar.num}}
	></dash-card>

	<dash-card
		valor = {{conta.receber.valor}}
		tipo = "receber"
		num = {{conta.receber.num}}
	></dash-card>

	<dash-card
		valor = {{conta.saldo.valor}}
		tipo = "saldo"
		num = {{conta.saldo.num}}	
	></dash-card>

	<div id="btnMenu">
		<ion-button color="pockmo" [routerLink]="['/contas/pagar']" expand="block">Contas a pagar</ion-button><br>
		<ion-button color="pockmo" [routerLink]="['/contas/receber']"expand="block">Contas a receber</ion-button><br>
	</div>
  
</ion-content>

<ion-footer>
  <ion-toolbar>
	<ion-title>
	  Footer
	</ion-title>
  </ion-toolbar>
</ion-footer>
