<ion-card>
    <ion-item>
        <ion-icon name="{{icone}}" color="{{cor}}" slot="start"></ion-icon>
        <ion-label>{{titulo}}</ion-label>
    </ion-item>
    
    <ion-card-content>
        <ion-row>
            <ion-col size='2'><ion-badge color="{{cor}}">{{num}}</ion-badge></ion-col>
            <ion-col><ion-text color="{{cor}}"><p class="ion-text-center">{{valor | currency: 'BRL':true}}</p></ion-text></ion-col>
        </ion-row>	
    </ion-card-content>
</ion-card>