/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/** pocket money */
.ion-color-pockmo {
  --ion-color-base: var(--ion-color-pockmo);
  --ion-color-base-rgb: var(--ion-color-pockmo-rgb);
  --ion-color-contrast: var(--ion-color-pockmo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-pockmo-contrast-rgb);
  --ion-color-shade: var(--ion-color-pockmo-shade);
  --ion-color-tint: var(--ion-color-pockmo-tint);
  }

form {
    margin-top: -10px;
    position: relative;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.3);
    border-left:none;
    border-right:none;
}

/** googlefonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@0,300;0,700;1,300&display=swap');